<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <!-- <link href="./styles.css" rel="stylesheet"> -->

    <title>Hello World!</title>
  </head>
  <body>
    <div id="root">
        <div>
            <video controls ref='preview' width="100%" autoplay muted></video>
            <button class='btn btn-danger' @click='btnStartRecord'>录制</button>
            <button class='btn btn-danger' @click='bunStopRecord'>停止</button>
        </div>
    </div>
    
  </body>
</html>
<!-- <% for (var js in htmlWebpackPlugin.files.js) { %>
  <script src="<%= htmlWebpackPlugin.files.js[js] %>" charset="utf-8"></script>
<% } %> -->
